/*
 * 游戏列表和分类页通用的样式表文件
*/ 
@media screen and (min-width: 576px) {
  .gamux-1-icon {
    width: 4.5rem;
    height: 4.5rem;
  }
  .gamux-1-cat {
    margin-bottom: -0.3rem;
  }
  .gamux-1-author {
    margin-bottom: -0.1rem;
  }
  
}
@media screen and (max-width: 575px) {
  .gamux-1-icon {
    width: 3rem;
    height: 3rem;
  }
}